<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/register.css">
</head>
<body>
    <div class="background-image">
        <img src="/public/images/Mbg.jpeg" alt="Background" class="bg-image">
    </div>
    
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">MovieDB</a>
            <ul class="nav-links">
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/about">About</a></li>
            </ul>
        </div>
    </nav>

    <div class="register-container">
      <h1>Register</h1>
      <form method="POST" action="/users/registered" class="register-form">
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" maxlength="70" required>
        
        
        <label for="username">Username:</label>
        <input id="username" name="username" type="text" maxlength="30" minlength="5">
        

        <label for="password">Password:</label>
        <input id="password" name="password" type="password" maxlength="20" minlength="5">
        
        <input type="submit" value="Login">
      </form>
  </div>
</body>
</html>
